@tailwind base;
@tailwind components;
@tailwind utilities;
input,
select,
textarea {
  height: 35px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

input,
select,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #ea580c;
}
